/* Elements */

@font-face
{
    font-family: 'Default';
    src: url('font.woff2') format('woff2');
}
*
{
    font-family: 'Default';
}
p
{
    font-size: 20px;
}
body
{
    background-image: linear-gradient(to bottom right, #8E67A5, #718DD6);
    margin: 0;
    padding: 0;
}
button
{
    all: unset;
}
button:hover
{
    background-image: linear-gradient(to bottom right, white, #ddd);
}

/* Header */

.header
{
    background-color: #0B0B0B;
    padding: 20px;
}
.header-button
{
    background-image: linear-gradient(to bottom right, #00DDFF, #0AAACC);
    border-radius: 5px;
    padding: 10px;
    width: min-content;
}
.header > *
{
    margin-right: 20px;
}
.header-button h3
{
    margin: 0;
}


.container
{
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    height: 100%;
}
.content
{
    padding: 20px;
    height: max-content;
    background-color: rgba(11, 11, 11, 0.0);
}
.text
{
    width: 60%;
    float: left;
    height: 100%;
}
.media
{
    position: relative;
    width: 40%;
    float: right;
    height: 100%;
    padding-top: 20px;
}
.image img
{
    border-radius: 5px;
    border: 3px solid #ddd;
}
.image p
{
    margin-top: 10px;
    font-size: 15px;
}
.image
{
    margin-bottom: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

/* Resources Dropdown */

#resources
{
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}
#resources-content
{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
#resources-content a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#resources-content a:hover
{
    background-image: linear-gradient(to bottom right, white, #ddd);
}
#resources:hover #resources-content
{
    display: block;
}
#resources:hover #resources-button
{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}