body
{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, #8E67A5, #718DD6);
}
button
{
    all: unset;
}
button:hover
{
    background-image: linear-gradient(to bottom right, white, rgb(161, 161, 161));
}
.content
{
    padding: 20px;
}
.text
{
    width: 60%;
    float: left;
    height: 100%;
}
.media
{
    position: relative;
    width: 40%;
    float: right;
    height: 100%;
    padding-top: 20px;
}
.header
{
    background-image: linear-gradient(to bottom right, #00B295, #03F7EB);
    border-bottom: 3px solid #007b67;
    padding: 20px;
}
.header-button
{
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    width: min-content;
    margin-right: 20px;
}
.container
{
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    height: 100%;
    border-left: 3px solid rgb(161, 161, 161);
    border-right: 3px solid rgb(161, 161, 161);
}
@font-face {
    font-family: 'Default';
    src: url('font.woff2') format('woff2');
}
*
{
    font-family: 'Default';
}
p
{
    font-size: 20px;
}
.header-button h3
{
    margin: 0;
}
.image img
{
    border-radius: 5px;
    border: 3px solid rgb(161, 161, 161);
}
.image p
{
    margin-top: 10px;
    font-size: 15px;
}
.image
{
    margin-bottom: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}