/* Elements */

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSansMath';
    src: url('./fonts/NotoSansMath/NotoSansMath-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
nav
{
    margin: 0;
    padding: 0;
}
*
{
    font-family: 'Inter';
}
p
{
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 24px;
}
h1
{
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 40px;
}
body
{
    background-image: linear-gradient(to bottom right, #8E67A5, #718DD6);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow: auto;
}
button
{
    background: unset;
    border: unset;
    margin: unset;
    padding: unset;
    font-size: unset;
}
img, svg
{
    max-width: 100vh;
}
html, body, #root
{
    height: 100%;
}
strong, sup
{
    font-family: 'NotoSansMath';
    font-weight: normal;
    color: #2929FF;
}
sup
{
    line-height: 0;
}
strong
{
    font-size: 16px;
    line-height: 32px;
}
a h3
{
    width: unset;
    white-space: nowrap;
}
a:link, a:visited
{
    color: black;
}

/* Header */

.header
{
    background-color: #0B0B0B;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}
.header-link
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #000;
    display: inline-block;
}
.header-button
{
    background-color: #00DDFF;
    padding: 8px;
    width: min-content;
}
.header-button:hover
{
    text-decoration: #067189 solid underline 3px;
}
.header > *
{
    margin-top: 16px;
    margin-right: 24px;
    top: 0;
}
.header-button h3
{
    margin: 0;
}

#location
{
    top: 0;
    height: 24px;
}
#location ul
{
    margin: 0;
    padding: 0;
}
#location ul li
{
    margin: 0;
    padding: 0;
    float: left;
    width: min-content;
    list-style-type: none;
}
#location ul li a
{
    white-space: nowrap
}
#location ul li:not(:first-child)
{
    margin-left: 16px;
    list-style-type: '\2192';
}

/* Resources Dropdown */

#resources
{
    padding: 0;
    position: relative;
    display: inline-block;
    height: 24px;
}
#resources-content
{
    display: none;
    position: absolute;
    background-color: white;
    max-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
#resources-content a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#resources-content a:hover
{
    text-decoration: black solid underline 2px;
}
#resources:hover #resources-content, #resources:focus #resources-content, #resources:focus-within #resources-content
{
    display: block;
}
#resources:hover #resources-button
{
    text-decoration: #067189 solid underline 3px;
}

/* Main Page */

.container
{
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    overflow: auto;
    min-height: 100%;
}
.content
{
    padding: 24px;
    background-color: rgba(11, 11, 11, 0.0);
}
.text
{
    width: 60%;
    float: left;
    display: block;
    padding-bottom: 24px;
}

.section ~ .section > .text
{
    padding-top: 24px;
}

.text:first-child
{
    margin-top: none !important;
}

.section .text:not(:first-child)
{
    border-top: 1.5px solid black;
}
.section .text:not(:last-child)
{
    border-bottom: 1.5px solid black;
}
.text img, .text svg
{
    width: calc(100% - 6px);
    border-radius: 5px;
    border: 3px solid #ddd;
}
.text > strong
{
    margin-top: 30px;
    margin-bottom: 30px;
}
.media
{
    display: block;
    width: 40%;
    float: right;
    padding-top: 20px;
}
.image img
{
    border-radius: 5px;
    border: 3px solid #ddd;
    width: calc(100% - 6px);
}
.image p
{
    margin-top: 5px;
    line-height: 35px !important;
    font-size: 15px !important;
}
.image > p > strong
{
    line-height: 35px !important;
    font-size: 15px !important;
}
.image
{
    display: block;
    width: 80%;
    margin-bottom: 20px;
    margin: 0 auto;
}
.section
{
    overflow: hidden;
}
li + li
{
    margin-top: 15px;
}
.interactive-button
{
    color: black;
    font-size: 16px;
    text-decoration: underline;
    margin-top: 8px;
    margin-bottom: 8px;
}
.interactive-button:hover
{
    cursor: pointer;
}
li a
{
    color: black;
    font-size: 16px;
    text-decoration: underline;
}

.yellow
{
    background-image: linear-gradient(to bottom right, #EEFF00, #B5CC0A);
}

.red
{
    background-image: linear-gradient(to bottom right, #FF0011, #CC0A0D);
}

.green
{
    background-image: linear-gradient(to bottom right, #33FF00, #27CC0A);
}

#solution
{
    filter: blur(3px);
    -webkit-filter: blur(3px);
    display: block;
    max-width: fit-content;
}

#solution:hover, #solution:focus
{
    filter: none;
    -webkit-filter: none;
}

/* Responsiveness */

.header-menu:hover path
{
    fill: #067189;
}

.header-menu
{
    width: 40px;
    height: 40px;
    bottom: 0;
}

@media (max-width: 1360px)
{
    .container
    {
        margin: 0;
    }
}
@media (max-width: 800px)
{
    .media
    {
        visibility: hidden;
        display: none;
    }
    .text
    {
        width: 100%;
    }
    .container
    {
        height: 100vh;
    }
}
@media (max-width: 500px)
{
    .header > *
    {
        text-align: center;
        margin-right: 16px;
        width: 100%;
    }
    #resources .header-button
    {
        text-align: center;
        width: 100% !important;
    }
}