:root
{
    --darkModeBorder: 0px;
    --darkModeBackground: white;
    --darkModeTextColor: black;

    --font-size: 16px;
    --footer-position: absolute;
    --scale-factor: 1;
    --strong-color: #6400ff;
}

[data-theme="dark"]
{
    --darkModeBorder: 4px;
    --darkModeBackground: black;
    --darkModeTextColor: white;
    --strong-color: #51a839;
}

[font-size="double"]
{
    --font-size: 32px;
    --footer-position: relative;
    --scale-factor: 2;
}

@font-face
{
    font-family: 'Inter';
    src: url('./fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p, strong, i, a, label
{
    font-size: var(--font-size);
}

p, h1, h2, h3, span, a, li::marker, button, i, label, strong, sup
{
    font-family: 'Inter';
}

strong, sup
{
    color: var(--strong-color);
}

a p {
    color: black;
}

p
{
    margin-top: 32px;
    margin-bottom: 32px;
    line-height: 1.6;
}

h1
{
    font-size: calc(var(--font-size) * 2);
    margin-top: 8px;
    margin-bottom: 16px;
}

img, svg
{
    max-width: 100vh;
}

body
{
    background-image: url('../public/imgs/bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: auto;
}

button
{
    background: unset;
    border: unset;
    margin: unset;
    padding: unset;
    font-size: unset;
}

html, body, #root
{
    height: 100%;
}

/* ARTICLE TEXT */

i::after(h1)
{
    margin-top: 0;
}

sup
{
    line-height: 0;
    font-size: calc(var(--font-size) * 0.75);
}

strong
{
    font-weight: normal;
}

#location
{
    top: 0;
    height: 24px;
    margin-top: 4px;
}

#location ul
{
    margin: 0;
    padding: 0;
}

#location ul li
{
    margin: 0;
    padding: 0;
    float: left;
    width: min-content;
    list-style-type: none;
}

a, #location ul li::marker
{
    color: white;
}
#location ul a {
    white-space: nowrap;
}


#location ul li:not(:first-child)
{
    margin-left: 16px;
    list-style-type: '\2192';
}

a span, button span
{
    line-height: unset;
    display: block;
    font-size: calc(var(--font-size) * (5 / 4));
    width: unset;
    white-space: nowrap;
    font-weight: bold;
}


nav
{
    margin: 0;
    padding: 0;
}

/* Resources Dropdown */

.dropdown
{
    padding: 0;
    display: inline-block;
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: white;
    max-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-content a, .dropdown-content button
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    position: relative;
}

.dropdown-content a:hover, .dropdown-content button:hover
{
    text-decoration: black solid underline 2px;
    cursor: pointer;
    white-space: nowrap; /* Prevent line breaks */
    max-width: fit-content;
}

.dropdown:hover .dropdown-content, .dropdown:focus .dropdown-content, .dropdown:focus-within .dropdown-content
{
    display: block;
}

.dropdown-button:focus + .dropdown-content /*TODO: FIX TAB FOCUS*/
{
    display: block;
}


.dropdown-button {
    margin: 0;
    padding: none;
}

.dropdown:hover .dropdown-button {
    background-color: white;
}

/* Main Page */

.container
{
    margin-left: 15%;
    margin-right: 15%;
    background-color: var(--bg-color);
    overflow: auto;
    min-height: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.content
{
    display: flex;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: 16px;
    padding: 24px;
    background-color: rgba(11, 11, 11, 0.0);
    box-sizing: border-box;
}

.text
{
    margin: 0 auto;
    width: 80%;
    padding-bottom: 24px;
}

.section ~ .section > .text
{
    padding-top: 24px;
}

.text:first-child
{
    margin-top: none;
}

.section .text:not(:first-child)
{
    border-top: 1.5px solid var(--font-color);
}

.section .text:not(:last-child)
{
    border-bottom: 1.5px solid var(--font-color);
}

.section img, .section svg
{
    width: calc(100% - 6px);
    border-radius: 5px;
    border: 1px solid var(--darkModeTextColor);
    display: block;
    margin: 0 auto;
    max-width: 720px;
}

.text > strong
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.media
{
    display: block;
    width: 40%;
    float: right;
    padding-top: 20px;
}

.image img
{
    border-radius: 5px;
    border: 1px solid var(--font-color);
    width: calc(100% - 2px);
}

.image p
{
    margin-top: 5px;
}

.image
{
    display: block;
    width: 80%;
    margin-bottom: 20px;
    margin: 0 auto;
}

.section
{
    overflow: hidden;
    justify-content: center; /* Centers horizontally */
    align-items: center;
}

li + li
{
    margin-top: 15px;
}

.content svg *
{
    fill: var(--darkModeTextColor);
    stroke: var(--darkModeTextColor);
}

.interactive-button
{
    text-decoration: underline;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: var(--font-size);
}

.interactive-button:hover
{
    cursor: pointer;
}

li a
{
    color: white;
    font-size: var(--font-size);
    text-decoration: underline;
}

#solution
{
    filter: blur(5px);
    -webkit-filter: blur(5px);
    display: block;
    max-width: fit-content;
}

#solution:hover, #solution:focus
{
    filter: none;
    -webkit-filter: none;
}

.prompt
{
    border: 1px solid var(--darkModeTextColor);
    border-radius: 5px;
    width: fit-content;
    margin-top: 12px;
}

.prompt p
{
    margin: 8px;
}

table, th, td 
{
	border: 1px solid;
}

/* Input */

.checkboxes .input-label
{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: calc(var(--font-size) * (3 / 4));
}

input[type="number"]
{
    width: 4ch;
    margin-right: 8px;
}

/* Responsiveness */

@media (max-width: 1360px) 
{
    .container
    {
        margin: 0;
    }
}

@media (max-width: 1000px)
{
    .button-grid {
        grid-template-columns: 1fr 1fr !important;
    }
    .article-grid {
        grid-template-columns: none !important;
    }
}

@media (max-width: 496px) 
{
    .dropdown-button
    {
        width: 100%;
    }
    body {
        background: black;
    }
    .button-grid, .article-grid {
        grid-template-columns: none !important;
    }
    .home-alltext {
        margin-bottom: 32px !important;
    }
    .footer {
        margin-top: 32px !important;
        position: relative !important;
    }
}

html {
    overflow: hidden;
}

.content {
    flex: 1;
    background-color: white;
    height:max-content;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

nav {
    background-color: white;
    margin-top: 4px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 32px; /* Space between buttons */
    margin-top: 32px;
}
  
.button-grid a {
    display: flex;
    align-items: center; /* Center content vertically */
    border-radius: 4px;
    padding: 16px;
    cursor: pointer;
    text-decoration: none; /* Remove underline for text */
    transition: all 0.15s ease-in-out;
    box-shadow: 0 0 6px black;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
  }

.button-grid a:hover {
    background-color: rgba(255, 255, 255, 1);
}

.button-grid a img {
    margin-right: 16px;
}

.button-grid a p {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1250px;
}

.home-alltext {
    margin-top: 16px;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 80px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
}

.home-alltext * {
    color: black;
}

.less-p {
    font-size: calc(var(--font-size) * (3 / 4));
    color: white;
    text-align: center;
}

.less-p a {
    color: white;
    font-size: calc(var(--font-size) * (3 / 4));
    text-decoration: underline;
}

.footer {
    margin-bottom: 16px;
    border-radius: 4px;
    backdrop-filter: blur(5px);
    padding: 8px;

    box-sizing: border-box;
    position: var(--footer-position);
    margin-top: calc((var(--font-size) * 4) - 64px) !important;
    left: 0;
    right: 0;
    max-width: 1250px;
    width: 100%;
    margin: 0 auto; /* Center the div horizontally */
    text-align: center; /* Optional: center-align the text */
    bottom: 0;
}

.footer * {
    margin: 0;
    padding: 0;
}

.content {
    height: 100vh; /* Takes up the full height of the viewport */
    width: 100%; /* Takes up the full width of the container */
    flex-direction: column;
}

.text {
    flex-grow: 1; /* Takes up all available horizontal space */
    overflow-y: auto; /* Allows scrolling if content overflows vertically */
}

.media {
    flex-shrink: 0; /* Prevents shrinking */
    width: 300px; /* Or any specific width you'd like for the media div */
    overflow-y: auto; /* Allows scrolling if media content overflows */
}

/* START SECTION RELATED */

.article-grid a {
    backdrop-filter: blur(5px);
    border-radius: 4px;
    padding: 32px; /* Optional: Add padding for a better look */
    box-sizing: border-box;
    transition: all 0.15s ease-in-out;
}

.article-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two equal-width columns */
    gap: 16px;
    margin-bottom: 32px;
}

.divider {
    width: 100%; /* Width of the container */
    height: 64px;
    overflow: hidden; /* Crop the overflowing parts of the SVG */
    border-radius: 4px;
    margin-bottom: 16px;
}

/* END SECTION RELATED */

/* START SECTION SPECIFIC */

.algebra-section .divider {
    background-image: url('../public/imgs/Algebra/algebra-divider.svg');
}

.trigonometry-section .divider {
    background-image: url('../public/imgs/Trigonometry/trig-divider.svg');
}

.calculus-section .divider {
    background-image: url('../public/imgs/Calculus/calculus-divider.svg');
}

.proofs-section .divider {
    background-image: url('../public/imgs/Proofs/proofs-divider.svg');
}

.interactive-section .divider {
    background-image: url('../public/imgs/Interactive/interactive-divider.svg');
}

.external-section .divider {
    background-image: url('../public/imgs/External/external-divider.svg');
}

.algebra-section .article-grid a {
    background: rgba(120, 0, 0, 0.5);
}

.trigonometry-section .article-grid a {
    background: rgba(81, 0, 135, 0.5);
}

.calculus-section .article-grid a {
    background: rgba(2, 62, 138, 0.5);
}

.proofs-section .article-grid a {
    background: rgba(0, 100, 0, 0.5);
}

.interactive-section .article-grid a {
    background: rgba(173, 0, 101, 0.5);
}

.external-section .article-grid a {
    background: rgba(68, 92, 100, 0.5);
}

.algebra-section .article-grid a:hover {
    background: rgba(120, 0, 0, 1);
}

.trigonometry-section .article-grid a:hover {
    background: rgba(81, 0, 135, 1);
}

.calculus-section .article-grid a:hover {
    background: rgba(2, 62, 138, 1);
}

.proofs-section .article-grid a:hover {
    background: rgba(0, 100, 0, 1);
}

.interactive-section .article-grid a:hover {
    background: rgba(173, 0, 101, 1);
}

.external-section .article-grid a:hover {
    background: rgba(68, 92, 100, 1);
}

/* END SECTION SPECIFIC */

/* START HEADER */

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    backdrop-filter: blur(5px);
}

.header-button {
    padding: 16px;
    background: none;
    color: black;
}

.header-button:hover {
    background: white;
}

.dropdown-content {
    position: absolute;
}

nav {
    background: none;
}

.dropdown {
    margin-top: 0;
}

.dropdown button {
    margin-top: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

.container > nav {
    z-index: 2;
}

.container > div {
    z-index: 1;
}

.dropdown-content a:hover .dropdown-button {
    background: white;
}

.header-button {
    transition: all 0.15s ease-in-out;
    display: block;
}

.text a {
    color: black;
}

.text strong, .text sup {
    color: #6400ff;
}

.section img {
    margin: 0 auto;
}

.content {
    border: solid white var(--darkModeBorder);
    background: var(--darkModeBackground);
}

.content p, .content h1, .content i {
    color: var(--darkModeTextColor);
}

.home-alltext button {
    background: none;
    border: none;
    color: black;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font: inherit;
    font-size: var(--font-size);
    line-height: 1.6;
}

.dropdown-content button {
    font-size: var(--font-size);
}

.dropdown:not(:hover) .dropdown-content {
    display: none;
}

button span {
    line-height: 1;
}

input[type="checkbox"] {
    width: var(--font-size);
    height: var(--font-size);
    flex-shrink: 0;
}

label, .interactive-button {
    color: var(--darkModeTextColor);
}