:root
{
    --font-color: black;
    --header-color: #121212;
    --bg-color: white;
    --header-outline: #121212;
    --strong-color: #2929FF;
    --font-size: 16px;
    --line-height: 24px;
}
[data-theme="dark"]
{
    --font-color: #e3e3e3;
    --header-color: #121212;
    --bg-color: #121212;
    --header-outline: #e3e3e3;
    --strong-color: #DF99FF;
}
[font-size="double"]
{
    --font-size: 32px;
    --line-height: 40px;
}
@font-face
{
    font-family: 'Inter';
    src: url('./fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
p, strong, i
{
    font-size: var(--font-size);
    line-height: var(--line-height);
}
p, h1, h2, h3, span, a, li::marker, button, i
{
    color: var(--font-color);
    font-family: 'Inter';
}
nav
{
    margin: 0;
    padding: 0;
}
p
{
    margin-top: 32px;
    margin-bottom: 32px;
}
h1
{
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 2em;
}
i::after(h1)
{
    margin-top: 0;
}
body
{
    background-image: linear-gradient(to bottom right, #8E67A5, #718DD6);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow: auto;
}
button
{
    background: unset;
    border: unset;
    margin: unset;
    padding: unset;
    font-size: unset;
}
img, svg
{
    max-width: 100vh;
}
html, body, #root
{
    height: 100%;
}
strong, sup
{
    color: var(--strong-color);
}
sup
{
    line-height: 0;
    font-size: calc(var(--font-size) * 0.75);
}
strong
{
    font-weight: normal;
}
a span, button span
{
    margin: 0 !important;
    line-height: unset;
    display: block;
    font-size: 1.25em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    width: unset;
    white-space: nowrap;
}
.header-button span
{
    line-height: 1.17em;
}
a:link, a:visited
{
    color: var(--font-color);
}

/* Header */

.header
{
    background-color: var(--header-color);
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--header-outline);
}
.header-link
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    display: inline-block;
}
.header-button
{
    background-color: #00DDFF;
    padding: 10px;
    width: min-content;
}
.header-button:hover
{
    text-decoration: #067189 solid underline 3px;
}
.header > *
{
    margin-top: 16px;
    margin-right: 24px;
}

.header * span
{
    color: black;
}

#location
{
    top: 0;
    height: 24px;
}
#location ul
{
    margin: 0;
    padding: 0;
}
#location ul li
{
    margin: 0;
    padding: 0;
    float: left;
    width: min-content;
    list-style-type: none;
}
#location ul li a
{
    white-space: nowrap
}
#location ul li:not(:first-child)
{
    margin-left: 16px;
    list-style-type: '\2192';
}

/* Resources Dropdown */

.dropdown
{
    padding: 0;
    display: inline-block;
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: white;
    max-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.dropdown-content a, .dropdown-content button
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover, .dropdown-content button:hover
{
    text-decoration: black solid underline 2px;
    cursor: pointer;
}
.dropdown:hover .dropdown-content, .dropdown:focus .dropdown-content, .dropdown:focus-within .dropdown-content
{
    display: block;
}
.dropdown:hover .dropdown-button
{
    text-decoration: #067189 solid underline 3px;
}

/* Main Page */

.container
{
    margin-left: 15%;
    margin-right: 15%;
    background-color: var(--bg-color);
    overflow: auto;
    min-height: 100%;
}
.content
{
    padding: 24px;
    background-color: rgba(11, 11, 11, 0.0);
}
.text
{
    width: 60%;
    float: left;
    display: block;
    padding-bottom: 24px;
}

.section ~ .section > .text
{
    padding-top: 24px;
}

.text:first-child
{
    margin-top: none;
}

.section .text:not(:first-child)
{
    border-top: 1.5px solid var(--font-color);
}
.section .text:not(:last-child)
{
    border-bottom: 1.5px solid var(--font-color);
}
.text img, .text svg
{
    width: calc(100% - 6px);
    border-radius: 5px;
    border: 1px solid var(--font-color);;
}
.text > strong
{
    margin-top: 30px;
    margin-bottom: 30px;
}
.media
{
    display: block;
    width: 40%;
    float: right;
    padding-top: 20px;
}
.image img
{
    border-radius: 5px;
    border: 1px solid var(--font-color);
    width: calc(100% - 2px);
}
.image p
{
    margin-top: 5px;
}
.image
{
    display: block;
    width: 80%;
    margin-bottom: 20px;
    margin: 0 auto;
}
.section
{
    overflow: hidden;
}
li + li
{
    margin-top: 15px;
}
.content svg *
{
    fill: var(--font-color);
    stroke: var(--font-color);
}
.interactive-button
{
    text-decoration: underline;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: var(--font-size);
    line-height: var(--line-height);
}
.interactive-button:hover
{
    cursor: pointer;
}
li a
{
    color: black;
    font-size: var(--font-size);
    line-height: var(--line-height);
    text-decoration: underline;
}

#solution
{
    filter: blur(3px);
    -webkit-filter: blur(3px);
    display: block;
    max-width: fit-content;
}

#solution:hover, #solution:focus
{
    filter: none;
    -webkit-filter: none;
}

/* Responsiveness */

@media (max-width: 1360px) 
{
    .container
    {
        margin: 0;
    }
}
@media (max-width: 800px) 
{
    .media
    {
        visibility: hidden;
        display: none;
    }
    .text
    {
        width: 100%;
    }
    .container
    {
        height: 100vh;
    }
}
@media (max-width: 496px) 
{
    .header-menu
    {
        display: unset;
    }
    .header > *
    {
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    .header-button
    {
        text-align: center;
    }
    .dropdown-button
    {
        width: 100%;
    }
}